.LightnessAndSaturation{
    display:flex;


    flex-direction: column;
}

.Lightness, .Saturation {
    display:flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: 0 1.5rem;
}