.App {
  color: #CCC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > * {
  margin-bottom: 1rem;
}

.oneline {
    display: flex;
    align-items: center;
}

.oneline > *:not(:first-child) {
    margin-left: 2rem;
}