.App {
  color: #CCC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > * {
  margin-bottom: .5rem;
}

.oneline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.oneline > * {
    margin: .5em;
}